.library {
  color: #1c1c1c;
  max-width: 670px;
  margin: 0 auto;
  padding-top: 34px;
}

.library__title {
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 41px;
  margin-bottom: 32px;
}

.library__text {
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 12px;
}

.library__text_type_message {
  margin: 32px 0 0;
}

.library__text_type_error {
  margin: 32px 0 0;
  color: #e36161;
}

.library__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding: 0;
  margin: 12px 0 0;
}

.library__list-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  line-height: 1.2;
  background: rgba(28, 28, 28, 0.05);
  border-radius: 8px;
  padding: 12px 16px;
}

.library__delete-button {
  width: 16px;
  height: 16px;
  background-image: url("../../assets/close.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.library__delete-button:hover {
  opacity: 30%;
}
